mixin sub-category(items)
  ul
    each item in items
      li
        a(href=`/products/${item.slug}`) #{item.title}
        if(item.children && item.children.length > 0)
          +sub-category(item.children)