html
  head
    link(rel="stylesheet", href="/css/404.css")
  body
    h1 404 Not Found!
    p.zoom-area
      b CSS
      | animations to make a cool 404 page.
    section.error-container
      span.four
        span.screen-reader-text 4
      span.zero
        span.screen-reader-text 0
      span.four
        span.screen-reader-text 4
    div.link-container
      a(href="/").more-link Go to Home page